html, body {
    margin: 0;
    padding: 0;
    }
    .main {
    background-color: #B0CCAB;
    padding: 50px;
    }
    .main__paragraph {
    left: 133px;
    position: fixed;
    margin-left: 25px;
    overflow: hidden;
    }
    
    